<section class="py-5">
    <h1 class="display-3">Thank You</h1>
    <p class="lead">Your Comic should be emailed to you within 1 business</p>
    <a href="/" class="btn btn-dark btn-lg">Go back Home</a>
</section>